  body {
    font-family: "Segoe UI", Roboto, sans-serif;
    justify-content: center;
    display: flex;
  }

  legend {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 1.2em;
  }

  form {
    margin: 10px;
    padding: 15px;
    width: 300px;
    border-radius: 3%;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  input {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  input:focus {
    outline: none;
    border-color: #66ccff;
    box-shadow: 0 0 1px #66ccff;
  }

  .error {
    color: red;
    font-size: 0.85em;
    margin-top: 3px;
    line-height: 1.2;
    position: absolute;
  }

  .block {
    margin-bottom: 35px;
    position: relative;
  }

  button {
    width: 70px;
    background: #66ccff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }

  button:hover {
    background: #30baff;
  }

  a {
    text-decoration: none;
  }

  pre {
    background: #fff;
    border-radius: 6px;
    padding: 12px;
    overflow-x: auto;
    font-size: 0.9em;
  }

  p {
    text-align: center;
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
  }